# Testing results

These are some of the results from the test data, some generated and submitted during the proposal stage

Bicycle dataset (can be found in the Template Files)
MRP for period 17 (Column R) up to and NOT including period 26 (Column AA)

## Data input - Job dictionary

Found as "egjobdict.txt" and "egcapdict.txt" in the "Testing Files" folder

## Heuristics - Schedule production

Found in "heuristic < heuristic name > schedule.txt" in the "Testing Files" folder